/*Declaring global CSS variables*/
:root {
  --main-color: rgba(33, 150, 243, 1);
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --gray-color: rgba(117, 117, 117, 1);
  --black-color: rgba(33, 33, 33, 1);
  --white-color: rgba(255, 255, 255, 1);
  --Background-color: #f5f4fa;
  --color1: rgba(255, 255, 255, 0.1);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: var(--main-font);
  margin: 0% auto;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
}

/*==HEADER==*/

header {
  display: block;
}

.header {
  margin: auto;
  width: 1600px;
  border-bottom: 1px solid #ececec;
  background-color: var(--white-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 0px 15px;
}

.header_flex {
  display: flex;
}

.web {
  text-align: left;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.03em;
}
.studio {
  color: var(--black-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.web:hover {
  text-decoration: none;
  color: var(--main-color);
}

.menu_nav {
  padding-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.15;
}

.nav_list {
  display: flex;
  gap: 46px;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.agency {
  line-height: 1.1;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
  letter-spacing: 0.02em;
}

.agency:hover {
  color: var(--main-color);
}

.portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--black-color);
  text-decoration: none;
}

.portfolio:hover {
  color: var(--main-color);
}

.contact {
  line-height: 1.1;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--black-color);
  text-decoration: none;
}

.contact:hover {
  color: var(--main-color);
}

.contact_list {
  cursor: pointer;
  display: flex;
  padding-left: 371px;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 50px;
}
.contact_list:hover {
  color: var(--main-color);
}

.mail {
  top: 32px;
  font-size: 14px;
  line-height: 1.1;
  color: var(--gray-color);
  text-decoration: none;
}
.mail:hover {
  color: var(--main-color);
}

.envelope:hover {
  --color2: var(--main-color);
}

.phone {
  white-space: nowrap;
  top: 32px;
  font-size: 14px;
  line-height: 1.1;
  color: var(--gray-color);
  text-decoration: none;
}

.phone:hover {
  color: var(--main-color);
}

.vector:hover {
  --color2: var(--main-color);
}

/*==MENU_NAV==*/

.menu {
  height: 600px;
  width: 1600px;
  background: rgba(47, 48, 58, 0.4);
  margin: auto;
  background-image: url(/images/img17.jpg);
  object-fit: cover;
  box-shadow: inset 50px 50px 50px 50px rgba(47, 48, 58, 0.4),
    inset 1600px 600px 50px 50px rgba(47, 48, 58, 0.4);
}

.text_in_header {
  width: 696px;
  line-height: 1.4;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 30px;
  color: var(--white-color);
}
.button {
  width: 200px;
  height: 50px;
  border: none;
  background: var(--main-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  display: block;
}

.button:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.icon_list {
  display: flex;
  gap: 30px;
  width: 1200px;
  margin: auto;
  padding-top: 94px;
}

.p-icon {
  width: 270px;
  border-radius: 4px;
  flex-direction: row;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;

  justify-content: center;
  background-color: var(--Background-color);
}

.advantages {
  margin-top: 30px;
  margin-bottom: 94px;
}

.flex-first {
  display: flex;
  gap: 30px;
}

.lorem_ipsum {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--black-color);
  letter-spacing: 0.03em;
  margin-left: auto;
}

.lorem_ipsum_text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--gray-color);
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: auto;
}

.main_section {
  padding-top: 0px;
}

.section {
  margin: 94px 0px 94px 0px;
}

.what_we_do_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  padding-bottom: 50px;
  margin: 0;
}

.picture {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.team_section {
  height: 648px;
  background-color: rgba(245, 244, 250, 1);
  margin-left: auto;
  margin-right: auto;
}

.team_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--black-color);
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 94px;
}

.team_list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.john-doe {
  width: 270px;
  height: 428px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.JD {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--black-color);
  text-align: center;
  letter-spacing: 0.03em;
}

.list_JD_icon {
  justify-content: space-between;
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
}

.icon_in_JD {
  cursor: pointer;
  margin: 0%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.icon_in_JD:hover {
  --color4: var(--main-color);
  --color5: var(--white-color);
}

.work {
  font-size: 16px;
  line-height: 1.2;
  color: var(--gray-color);
  text-align: center;
  letter-spacing: 0.03em;
}

.our_team_list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 94px;
}

.our_team_icon {
  cursor: pointer;
  width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
}

.our_team_icon:hover {
  border-color: var(--main-color);
  --color5: var(--main-color);
}

/*==PORTFOILIO==*/

.agency_second {
  line-height: 1.1;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--black-color);
  text-decoration: none;
  letter-spacing: 0.02em;
}

.agency_second:hover {
  color: var(--main-color);
}

.portfolio_second {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}

.portfolio_second:hover {
  color: var(--black-color);
}

.section {
  margin: 94px 0px 94px 0px;
}

.filter {
  background-color: var(--white-color);
  display: block;
}

.f_border {
  display: flex;
  gap: 8px;
  justify-content: center;
  list-style: none;
}

.portfolio_button_first {
  width: 128px;
  height: 38px;
  border-radius: 4px;
  background: var(--main-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

  letter-spacing: 0.03em;
  color: var(--white-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 0px;
  text-transform: none;
}

.portfolio_button {
  width: 128px;
  height: 38px;
  border-radius: 4px;
  background: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 0px;
  text-transform: none;
}

.portfolio_button:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.portfolio_card {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.card-image {
  display: block;
}

.item {
  margin-bottom: 30px;
  margin-top: 30px;
}

.frame {
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  margin: 0%;
}

.title_content {
  padding: 20px 24px 20px 24px;
  font-size: 18px;
}

.description {
  margin: 4px 24px 20px 24px;
  font-size: 16px;
  color: var(--gray-color);
}

/*===FOOTER===*/

.footer {
  background-color: rgba(47, 48, 58, 1);
  height: 252px;
  margin: auto;
  flex-wrap: nowrap;
}

.footer_socialmedia {
  display: flex;
}
.footer_logo {
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer_logo:hover {
  color: var(--main-color);
}

.logo_footer_one {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo_footer_two {
  color: var(--white-color);
}

.footer_address {
  padding-bottom: 9px;
}

.address {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer_mail {
  padding-bottom: 9px;
}

.email {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email:hover {
  color: var(--main-color);
}

.footer_phone {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer_phone:hover {
  color: var(--main-color);
}

.list_footer_icon {
  justify-content: space-between;
  display: flex;
}

.div_social {
  width: 206px;
  height: 80px;

  padding-top: 72px;
  padding-left: 70px;
}
.add_to_us {
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 1.9;
  color: var(--white-color);
  font-size: 14px;
  letter-spacing: 00.03em;
  padding-bottom: 20px;
}

.social_footer_icon {
  cursor: pointer;
  margin: 0%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social_footer_icon :hover {
  --color4: var(--main-color);
  --color5: var(--white-color);
}
